<h2>Sign Up</h2>

<form action="<%= users_url %>" method="POST">
  <%= rails_auth_token %>
  <label>Email:
    <input type="text"
           name="user[email]"
           value="<%= @user.email %>">
  </label>
  <br>
  <label>Password:
    <input type="password"
           name="user[password]">
  </label>
  <br>
  <input type="submit" value="Sign Up">
</form>
<br>
Don't have an account? <%= link_to "Sign in here", new_session_url %>. 
