<h2>All Bands</h2>
<% unless @bands.empty? %>
  <ul>
    <% @bands.each do |band| %>
      <li><%= link_to band.name, band_url(band) %> | 
              Albums: <%= band.albums.length %></li>
    <% end %> 
  </ul>
<% end %>

<%= link_to "Add New Band", new_band_url %>
